- function rev(path) { return (locals[path] || path).substring(6); }

doctype html
html
  head
    title The way your grandma used to remember things. | Rolodex.js
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css')
    link(href=rev('public/app.css') media='screen' rel='stylesheet')

    <!--[if lt IE 9]>
    script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
    script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
    <![endif]-->

    script(src=rev('public/app.js') type='text/javascript' defer)
