- function rev(path) { return (locals[path] || path).substring(6); }

doctype html
html
  head
    title The way your grandma used to remember things. | Rolodex.js
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    script(src=rev('public/app.js') type='text/javascript' defer)
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700' rel='stylesheet' type='text/css')
    link(href=rev('public/app.css') media='screen' rel='stylesheet')

  body.container
    header.header
      h1.title
        i.logo
        | The Rolodexx

    section.content
      nav#sidebar
      section#page
